

@{
    ViewData["Title"] = "Index";
}

<h1>Vouchery</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="VoucherTable" class="table">
    <thead>
        <tr>
            <th>
                Nr Seryjny
            </th>
            <th>
                Kwota
            </th>
            <th>
                Data Sprzedaży
            </th>
            <th>
                Data Ważności
            </th>
            <th>
                Ośrodek
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
