

@{
    ViewData["Title"] = "Index";
}

<h1>Vouchery</h1>

<p>
    <a asp-action="Create">Dodaj nowy Voucher</a>
</p>
<p>
    <button onclick="exportTableToExcel()" class="btn btn-success">Pobierz do excela</button>
</p>
<table id="VoucherTable" class="table">
    <thead>
        <tr>
            <th>
                Nr Seryjny
            </th>
            <th>
                Kwota
            </th>
            <th>
                Data Sprzedaży
            </th>
            <th>
                Data Ważności
            </th>
            <th>
                Ośrodek
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="modal fade" id="activationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="activationForm">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="invoiceNumber" class="form-label">Numer faktury</label>
                        <input type="text" class="form-control" id="invoiceNumber" name="serialNumber" required>
                        <span class="text-danger" id="InvoiceNumberError"></span>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                        <span class="text-danger" id="EmailError"></span>
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Numer Telefonu</label>
                        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" required>
                        <span class="text-danger" id="PhoneNumberError"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary">Aktywuj</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="realizationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="realizationForm">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="invoiceNumber" class="form-label">Data realizacji (zakończenia pobytu)</label>
                        <input type="date" class="form-control" id="realizationDate" name="realizationDate" required>
                        <span class="text-danger" id="RealizationDateError"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary">Zrealizuj</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function exportTableToExcel() {
        let wb = XLSX.utils.table_to_book(document.getElementById('VoucherTable'), { sheet: "Vouchers" });
        XLSX.writeFile(wb, 'Vouchers.xlsx');
    }
</script>
